.petRow {
  max-width: 1000px;
  max-height: 300px;
}

.petSearchPage {
  height: 1200px;
  width: 100%;
}

.searchContainer {
 max-width: 90%;
}

.display-pet {
  width: 25%;
}

.petImage{
  height: 200px;
    
}
img {
  height: auto;
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

h4 {
  font-family: 'Indie Flower', cursive;
}
