.animalPreferences {
  font-family: 'Love Ya Like A Sister', monospace;
}

.form-label {
  font-family: 'Love Ya Like A Sister', monospace;
  font-weight: bold;
}

label {
  font-family: 'Love Ya Like A Sister', monospace;
}

.form-group {
  font-family: 'Love Ya Like A Sister', monospace;
  font-weight: bold;
}

.form-control label {
  font-family: 'Love Ya Like A Sister', monospace;
}
