@media all and (min-width: 480px) {
  .SignUp {
    padding: 60px;
  }

  .SignUp form {
    margin: 0 auto;
    max-width: 320px;
  }
  .UserEntry {
    font-family: 'Indie Flower', cursive;
    font-weight: 500;
  } 
  .UserActivity {
    color: red;
    font-size: 40px;
    text-align: center;
  }

  .Button {
    background-color: #4CAF50; 
    border: none;
    color: white;
  }

  .Button:hover {
    background-color: #4CAF50; 
    border: none;
    color: black;
  }
}
